<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello!</title>
  <meta name="description" content="Index-search">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
<style>
  .btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
a:hover{
  padding: 24px 32px;
}

strong:hover {
  color: white;
}
</style>
</head>

<body>
  {% include 'header.html' %}

  <main role="main">

      <section class="jumbotron border-bottom text-center d-flex justify-content-center align-items-center align-content-center mt-4 pb-4">
        <div class="container">
          <h1 class="jumbotron-heading">Interview Helper</h1>
        </div>
      </section>
    </main>

    <div class="container justify-content-center d-flex">
      <strong><a style="color: black" class="btn btn-secondary btn-xlarge m-2 mt-4" href="/first"><strong>Online Interviews</strong></a></strong>
      <a style="color: black" class="btn btn-secondary btn-xlarge m-2 mt-4" href="/first"><strong>Writing Interviews</strong></a>
      <a style="color: black" style="border: 2px solid white" class="btn btn-secondary border-white btn-xlarge m-2 mt-4" href="/first"><strong>Phone Interviews</</strong></a>
    </div>

    {% include 'footer.html' %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
